<div style="text-align:center">
  <h1>Welcome to test-semantic-monorepo!</h1>
  <img width="450" src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png" />
</div>
<div>Welcome New World At New One </div>
<div>Message: {{ hello$ | async | json }}</div>
